/* comment.css */

/* Container styles */
.comment-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  flex-basis: auto;
  margin: auto;
}

.head-text {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-start;
}

.comment-input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-button {
  padding: 10px 20px;
  background-color: #81a1d3; /* Green */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10vw;
  text-align: center;
  align-self: flex-end;
  margin-right: 1px;
  vertical-align: auto;
  border: 2px solid #4e78ba;
}

.post-button:hover {
  background-color: #4e78ba; /* Darker green */
}

.comment-container {
  margin-top: 20px;
}

/* Comment styles */
.comment {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.comment-content {
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.star-icon {
  cursor: pointer;
  font-size: 24px;
  color: #FFD700; /* Gold */
  margin-right: 10px;
  transition: color 0.3s ease;
}

.starred {
  color: #F5B041; /* Lighter gold */
}

.reply-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.reply-button,
.delete-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reply-button {
  background-color: #3498db; /* Light blue */
}

.reply-button:hover {
  background-color: #2980b9; /* Darker blue */
}

.delete-button {
  background-color: #e74c3c; /* Light red */
}

.delete-button:hover {
  background-color: #c0392b; /* Darker red */
}

.reply {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.sort-headline{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10%  auto; */
  width: 60%;
  margin: auto;
}
.reply-text{
  align-self: self-start;
}
.sort-text{
  position: relative;
  left: 28%;
  margin: auto;
}
.btns{
  display: flex;
  /* margin: ; */
}
.btn1 {
  margin-right: 5px;
}